HOST=0.0.0.0
PORT=1337

APP_KEYS=changeMeA,changeMeB,changeMeC,changeMeD
API_TOKEN_SALT=changeMeApiTokenSalt
ADMIN_JWT_SECRET=changeMeAdminJwtSecret
JWT_SECRET=changeMeJwtSecret

DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

UPLOAD_BASE_URL=http://localhost:1337/uploads